<div title="客户信息管理" data-options="iconCls:'icon-mini-add'" style="overflow:auto;padding:10px;">
	<ul class="easyui-tree" data-options="animate:true">
		
			<li data-options="state:'open'">
				<span>客户信息管理</span>
				<ul>
					<li><a rel="dialog" href="javascript:void(0);" cmshref="__MODULE__/customer/add">客户信息录入</a></li>
					<li><a href="javascript:void(0);" cmshref="__MODULE__/customer/index">客户信息列表</a></li>
				</ul>
	</ul>
</div>
<div title="系统设置" data-options="iconCls:'icon-mini-add'" style="overflow:auto;padding:10px;">
	<ul class="easyui-tree" data-options="animate:true">
		
			<li data-options="state:'open'">
				<span>权限管理</span>
				<ul>
					<li><a href="javascript:void(0);" cmshref="__MODULE__/Privilege/lst">权限列表</a></li>
					<li><a href="javascript:void(0);" cmshref="__MODULE__/Role/lst">角色列表</a></li>
					<li><a href="javascript:void(0);" cmshref="__MODULE__/Admin/lst">管理员列表</a></li>
				</ul>
			</li> 
	</ul>
</div>
<div title="个人信息管理" data-options="iconCls:'icon-mini-add'" style="overflow:auto;padding:10px;">
	<ul class="easyui-tree" data-options="animate:true">
		
			<li data-options="state:'open'">
				<span>个人信息管理</span>
				<ul>
					<li><a rel="dialog" href="javascript:void(0);" cmshref="__MODULE__/customer/add">基本信息修改</a></li>
					<li><a href="javascript:void(0);" cmshref="__MODULE__/customer/index">密码修改</a></li>
				</ul>
			</li> 
	</ul>
</div>
<div title="待定。。。。" data-options="iconCls:'icon-mini-add'" style="overflow:auto;padding:10px;">
	<ul class="easyui-tree" data-options="animate:true">
		
			<li data-options="state:'open'">
				<span>待定。。。。</span>
				<ul>
					<li><a rel="dialog" href="javascript:void(0);" cmshref="__MODULE__/customer/add">待定。。。。</a></li>
				</ul>
			</li> 
	</ul>
</div>